p, form, label, .question, .content  {
    background-color: white;
}
.quiz-container {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
    margin: 10px;
    height: fit-content;
    padding-bottom: 15px;
}
.content {
    margin-left: 20px;
}
.submit-btn{
    margin-top: 15px;
    border-radius: 2px;
    border: 1px;
    width: 100%;
    height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: purple;
}
.submit-btn:active{
    background-color: rgb(94, 2, 94);
}

.lastquestion{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    width: 250px;
    height: fit-content;
}